@import "../../../_base";
@import "../../../_settings";

.about {

  &__article {
    padding: 0 0 @block-spacer-small 0;
  }

  &__heading {
    margin: 0 0 2*@block-spacer 0;
  }

  &__title {
    color: @green;
    font-size: 24px;
  }
}