<div class="navbar-wrapper">
  <app-nav></app-nav>
</div>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="about__heading">Über manducare</h1>
        <article class="about__article">
          <h3 class="about__title">Wer ist Manducare</h3>
          <p class="about__text">Manducare ist ein Projekt von Tanja und André, welches im Zusammenhang mit der Abschlussarbeit des Lehrgangs
            CAS Frontend Engineering an der Hochschule Rapperswil ins Leben gerufen wurde. Ziel dieser Abschlussarbeit war es,
            eine Single Page Application zu erstellen, welche den aktuellen Standards im Bereich Webentwicklung und
            Web Engineering entspricht.In der heutigen Zeit werden die meisten Websites durch mobile Geräte aufgerufen.
            Dabei spielt nicht nur der Funktionsumfang einer Webapplikation eine wichtige Rolle, sondern auch das Design.
            Eine Webapplikation sollte immer so gestaltet werden, dass sie auch auf einem Tablet oder einem Mobiltelefon
            gut bedienbar ist. Der sogenannte "Mobile First" Ansatz wurde auch bei der Entwicklung von Manducare eingesetzt.
          </p>
        </article>
         <article class="about__article">
           <h3 class="about__title">Was ist Manducare</h3>
           <p class="about__text">
             Manducare ist eine Plattform, welche der Erstellung und Verwaltung von Rezepten dient. Die Lieblingsrezepte
             müssen nicht mehr in dicken Büchern oder Ordnern archiviert werden, sondern können ganz einfach mit ein paar
             Klicks mit Hilfe von Manducare erfasst werden. Ziel ist es, dass die online Sammlung von Rezepten stetig
             wächst und jeder davon profitieren kann.Das Besondere an Manducare ist, dass die Rezepte in Schritte aufgeteilt
             sind und somit auch für Kochanfänger super geeignet sind. Gefällt dir ein Rezept, kannst du es ganz einfach
             zu deinen Favoriten hinzufügen oder es mit dem "Gefällt mir"-Button (Herz) bewerten.
           </p>
         </article>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
