<div class="navbar-wrapper">
  <app-nav></app-nav>
</div>

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Kontakt</h1>
        <article class="contact__article">
          <p class="contact__text">Haben Sie Fragen oder Anregungen? Nehmen Sie mit uns Kontakt auf, wir freuen uns.</p>

          <p class="contact__text">Passwort vergessen? Bitte teilen Sie Ihre E-Mail-Adresse mit. Sie erhalten dann umgehend eine Nachricht per E-Mail mit Anweisungen zum Zurücksetzen des Passworts zugestellt.</p>
          <a class="contact__link" href="mailto:info@manducare.ch"><i class="icon flaticon-email contact__link--icon"></i>E-Mail senden</a>
        </article>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
