<h1 class="recipe-list__heading">Alle {{ (allRecipes | async)?.length }} Rezepte</h1>

<div class="form-group">
  <input name="searchRecipe" class="form-control" placeholder="Rezept suchen..." [(ngModel)]="searchTerm" id="search-box" />
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let recipe of allRecipes | async | filter:searchTerm  | paginate: { itemsPerPage: 10, currentPage: page }" (click)="detail(recipe)">
    <div class="recipe-list">
      <div class="recipe-list__wrapper">
        <img class="recipe-list__image" src="{{ recipe.image?.url }}" alt="{{ recipe.receipt}}" />
        <div class="recipe-list__buttons">
          <button class="btn btn-default btn-circle recipe-list__edit flaticon-edit" [routerLink]="['/admin/recipe-edit/' + recipe.$key]"></button>
          <button class="btn btn-default btn-circle recipe-list__delete flaticon-delete" (click)="remove(recipe)"></button>
        </div>
      </div>
      <div class="recipe-list__meta-container">
        <div class="recipe-list__meta-info">
          <i class="icon flaticon-preptime"></i>{{recipe.prepTime}} min.
        </div>
        <div class="recipe-list__meta-info">
          <i class="icon flaticon-level"></i>{{recipe.level}}
        </div>
        <div class="recipe-list__meta-info">
          <span class="icon flaticon-like">{{recipe.rating}}</span>
        </div>
      </div>
      <h5 class="recipe-list__title">{{recipe.receipt}}</h5>
    </div>
  </div>
</div>


  <pagination-controls class="recipePagination" (pageChange)="page = $event" previousLabel="Zurück" nextLabel="Weiter"></pagination-controls>


<app-alert #childAlert></app-alert>