<h1>Meine Favoriten</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="favorite-list__heading">
             Rezept
            </th>
            <th class="favorite-list__heading">
            </th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let favorite of allFavorites | async">
        <td>
          {{favorite.recipeName}}
        </td>
            <td class="favorite-list__buttons">
                <button class="favorite-list__buttons--view btn btn-default btn-circle flaticon-view" [routerLink]="['/recipe-detail', favorite.recipeId]"></button>
                <button class="favorite-list__buttons--delete btn btn-default btn-circle flaticon-delete" (click)="remove(favorite); $event.stopPropagation()"></button>
          </td>
        </tr>
  </table>
<div *ngIf="(allFavorites | async)?.length==0">
    <div class="blank-slate">
        <img class="blank-slate__image" src="../../../assets/img/favorite.svg" alt="Rezeptbuch">
        <p class="blank-slate__text">Du hast noch keine Rezepte zu deinen Favoriten hinzugefügt.</p>
    </div>
</div>
<app-alert #childAlert></app-alert>
