<h1 class="recipe-list__heading">Meine Rezepte</h1>

<div class="form-group">
  <input name="searchRecipe" class="form-control" placeholder="Rezept suchen..." [(ngModel)]="searchTerm" id="search-box" />
</div>

<div *ngIf="(allRecipes | async)?.length==0">
  <div class="blank-slate">
    <img class="blank-slate__image" src="../../../assets/img/recipe-book.svg" alt="Rezeptbuch">
    <p class="blank-slate__text">Du hast aktuell noch keine Rezepte in deiner Sammlung.<br>
      Erfasse jetzt dein erstes Rezept.</p>
    <button [routerLink]="['/admin/recipe-add']" class="blank-slate__button btn btn--green flaticon-add">Rezept erfassen</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let recipe of allRecipes | async | filter:searchTerm" (click)="detail(recipe)">

    <div class="recipe-list">
      <div class="recipe-list__wrapper">
        <img class="recipe-list__image" src="{{ recipe.image?.url }}" alt="{{ recipe.receipt}}" />
        <div class="recipe-list__buttons">
          <button class="btn btn-default btn-circle recipe-list__edit flaticon-edit" [routerLink]="['/admin/recipe-edit/' + recipe.$key]"></button>
          <button class="btn btn-default btn-circle recipe-list__delete flaticon-delete" (click)="remove(recipe)"></button>
        </div>
      </div>
      <div class="recipe-list__meta-container">
        <div class="recipe-list__meta-info">
          <i class="icon flaticon-preptime"></i>{{recipe.prepTime}} min.
        </div>
        <div class="recipe-list__meta-info">
          <i class="icon flaticon-level"></i>
          <span *ngIf="recipe.level === 'simple'">Einfach</span>
          <span *ngIf="recipe.level === 'medium'">Mittel</span>
          <span *ngIf="recipe.level === 'difficult'">Schwer</span>
        </div>
        <div class="recipe-list__meta-info">
          <span class="icon flaticon-like">{{recipe.rating}}</span>
        </div>
      </div>
        <h5 class="recipe-list__title">{{recipe.receipt}}</h5>
    </div>
  </div>
</div>

<app-alert #childAlert></app-alert>