<div class="search">
  <div class="search__field">
    <i class="search__icon flaticon-magnifying-glass"></i>
    <input type="search" class="search__input form-control" (keydown)="searchRecipe($event)" placeholder="Suche Rezept...">
  </div>
</div>
<div class="search-result__drop-down">
  <div class="search-result search-result--found" *ngFor="let recipe of recipes" (click)="detail(recipe)">
    <p class="search-result__text">
      <a class="search-result__link" (click)="detail(recipe)">
        {{
          recipe?.receipt
        }}
      </a>
    </p>
  </div>
  <div class="search-result search-result--found" *ngIf="recipes?.length < 1 && recipes?.length === 0">
    <p class="search-result__text">
      Kein Rezept gefunden!
    </p>
  </div>
</div>
