<nav class="navbar navbar-fixed-top navbar-admin">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-admin__brand" [routerLink]="['/public']">
        <img class="navbar-admin__logo" src="../../../assets/img/logo_small-white.png" alt="Manducare">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/public']" class="navbar-admin__link">
            Alle Rezepte
          </a>
        </li>
        <li [routerLinkActive]="['active']" *ngIf="(user | async)">
          <a [routerLink]="['/admin/recipes']" class="navbar-admin__link">
            Meine Rezepte
          </a>
        </li>
        <li [routerLinkActive]="['active']" *ngIf="!(user | async)">
          <a [routerLink]="['/register']" class="navbar-admin__link">
            Registrieren
          </a>
        </li>
        <li>
          <a [routerLink]="['/about']" class="navbar-admin__link">
            Über {{ title }}
          </a>
        </li>
        <li>
          <a [routerLink]="['/contact']" class="navbar-admin__link">
            Kontakt
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
