@import "../../../_base";
@import "../../../_settings";

.navbar-admin {
  background-color: @green;
  text-transform: uppercase;

  &__brand {
    color: @white;
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px 15px;
    text-decoration: none;
  }

  &__link {
    color: @white;

    &:hover,
    &:focus,
    &:active,
    &.active{
      background-color: @yellow;
    }
  }
}

.active {
  background-color: @yellow;
}

.icon-bar {
  background-color: @white;
}