@import "../../../_base";
@import "../../../_settings";

.details {
  background-color: @white;
  display: flex;
  font-family: inherit;

  &__image {
    min-height: 50px;
  }

  & h1 {
    color: @yellow;
    border-bottom: none;
    margin-top: 0;
    padding: @block-spacer 0 0 0;
    text-align: center;
  }

  &__description {
    text-align: center;
  }
}

.meta {
  &__container {
    margin: 0 auto;
    max-width: 400px;
    padding: @block-spacer-small;
  }

  &__list {
    line-height: 30px;
    list-style-type: none;
    padding: 0;
  }

  &__info {
    margin: 0 0 0 @block-spacer-small;
    min-width: 200px;
  }

  &__like {
    &:hover {
      cursor: pointer;
    }
  }

  &__value {
    float: right;
    min-width: 100px;
  }
}

.icon {
  font-size: 20px;
  top: 2px;
}

.like {

  &-group {

    & ul {
      padding-left: 0;
    }

    & li {
      display: inline-block;
      list-style: none;
      margin: 0 18px;
    }
  }

  &__list {
    text-align: center;

    &--like {
      cursor: pointer;

      &:before {
        font-size: 18px;
      }

      &:hover {
        color: @yellow;
      }
    }

    &--favorite {
      &:before {
        font-size: 18px;
        margin: 0 0.5*@block-spacer-small 0 0;
      }
    }
  }
}

.preparation {
  background-color: @light-grey;
  position: relative;
  z-index: 0;

  &__heading {
    .fluid-type(font-size, @min-vw, @max-vw, 30px, 50px);
    color: @green;
    text-align: center;
  }
}

.ingredients {
  background: @white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: @block-spacer auto;
  max-width: 550px;
  min-height: 300px;
  padding: 24px 50px 50px 50px;
  position: relative;

  &:before,
  &:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
  }

  &:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
  }

  &__heading {
    color: inherit;
    text-align: center;
  }

  &__item {
    line-height: 25px;
    padding: 0 @block-spacer;
  }

  &__quantity {
    padding: 0 @block-spacer-small 0 0;
    text-align: right;
    width: 50px;
  }

  &__unit {
    width: 90px;
  }

  &__ingredient {
    width: 250px;
  }
}

.step {
  margin: @block-spacer;

  &__number {
    background: transparent;
    border: 3px solid @green;
    border-radius: 100%;
    color: @green;
    display: inline-block;
    font-family: "Happy Monkey", Arial, sans-serif;
    font-size: 32px;
    height: 40px;
    line-height: 34px;
    margin: @block-spacer-small 0;
    text-align: center;
    width: 40px;
  }
}

.back {
  padding: @block-spacer;
}

@media (min-width: 568px) {
  .ingredients {
    margin: 26px auto 50px auto;
  }
}

@media (min-width: 768px) {
  .ingredients {
    margin: 26px auto 50px auto;
    padding: 24px 50px 50px 50px;
  }

  .steps {
    padding: @block-spacer 0;
  }
}

@media (min-width: 992px) {
  .details__heading {
    padding: 0;
  }

  .ingredients {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  section {
    padding: 40px;
  }

  .meta__container {
    margin: 50px auto;
  }

  .ingredients {
    margin: 0;

    &__item {
      padding: 0 40px;
    }
  }

  .steps {
    padding: 0;
  }
}