<div class="navbar-wrapper">
    <app-nav></app-nav>
</div>

<section class="details">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="details__image featurette-image img-responsive center-block" src="{{ (recipe)?.image?.url }}" alt="{{(recipe)?.receipt}}">
      </div>
      <div class="col-md-6">
        <h1>{{(recipe)?.receipt}}</h1>
        <p class="details__description">{{(recipe)?.description}}</p>
        <div class="row">
          <div class="col-md-12">
            <div class="meta__container">
              <ul class="meta__list">
                <li>
                  <i class="icon flaticon-preptime"></i>Zubereitungszeit:
                  <span class="meta__value">{{(recipe)?.prepTime}} min.</span>
                </li>
                <li>
                  <i class="icon flaticon-level"></i>Schwierigkeitsgrad:
                  <span class="meta__value">{{levelFullName}}</span>
                </li>
                <li>
                  <i class="icon flaticon-cuisine"></i>Länderküche:
                  <span class="meta__value">{{cuisineFullName}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="like-group">
              <ul class="like__list">
                <li>
                  <span *ngIf="showLike" (click)="rateRecipe()" class="like__list like__list--like flaticon-like"></span>
                  {{(recipe)?.rating}}
                </li>
                <li *ngIf="authService.user | async">
                  <button type="button" class="btn btn-default like__list like__list--favorite flaticon-book" [disabled]="!showAddFavorite" href="#" (click)="addRecipeToFavorites(key, recipe.receipt)" role="button">Rezept speichern</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="preparation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="preparation__heading">Zubereitung</h2>
      </div>
      <div class="col-md-6">
        <div class="ingredients">
          <h3 class="ingredients__heading">Zutaten für {{(recipe)?.portion}} Personen</h3>
          <table >
            <tr class="ingredients__item" *ngFor="let ingredient of (recipe)?.ingredients; let i = index;">
              <td class="ingredients__quantity">{{ ingredient.quantity }}</td>
              <td class="ingredients__unit">{{ ingredient.unit }}</td>
              <td class="ingredients__ingredient">{{ ingredient.ingredient }} </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="steps">
          <div class="step" *ngFor="let step of (recipe)?.steps; let i = index;">
            <span class="step__number">
              {{i+1}}
            </span>
            <p class="step__description">
              {{ step.stepDescription }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="back">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="back">
          <button (click)="goBack()" class="btn">
            <i class="flaticon-left-arrow"></i> Zurück
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-alert #childAlert></app-alert>

<app-footer></app-footer>
