<app-admin-nav [title]="title" [user]="authService.user"></app-admin-nav>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12">
      <section>
        <h1 class="page-header">Neu registrieren</h1>
        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }" >
            <label for="firstName">Vorname</label>
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
            <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
              Vorname ist verlangt.
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <label for="lastName">Nachname</label>
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
            <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
              Nachname ist verlangt.
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">E-Mail</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required />
            <div [hidden]="email.valid || email.pristine || email.pattern" class="alert alert-danger">
              E-Mail ist verlangt.
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Passwort</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              Passwort ist verlangt.
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !street.valid }">
            <label for="street">Strasse</label>
            <input type="text" class="form-control" id="street" name="street" [(ngModel)]="model.street" #street="ngModel" required />
            <div [hidden]="street.valid || street.pristine" class="alert alert-danger">
              Strasse ist verlangt.
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !houseNumber.valid }">
            <label for="houseNumber">Hausnummer</label>
            <input type="number" class="form-control" id="houseNumber" min="0" name="houseNumber" [(ngModel)]="model.houseNumber" #houseNumber="ngModel" required />
            <div [hidden]="houseNumber.valid || houseNumber.pristine" class="alert alert-danger">
              Hausnummer ist verlangt.
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !zip.valid }">
            <label for="zip">PLZ</label>
            <input type="number" id="zip" class="form-control" name="zip" [(ngModel)]="model.zip" #zip="ngModel" required />
            <div [hidden]="zip.valid || zip.pristine" class="alert alert-danger">
              PLZ ist verlangt.
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
            <label for="city">Stadt</label>
            <input type="text" class="form-control" id="city" name="city" [(ngModel)]="model.city" #city="ngModel" required />
            <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
              Stadt ist verlangt.
            </div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !country.valid }">
          <label for="country">Land</label>
            <input type="text" class="form-control" id="country" name="country" [(ngModel)]="model.country" #country="ngModel" required />
            <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
              Land ist verlangt.
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-default" [disabled]="!f.form.valid">
              <i class="fa fa-key"></i> Registrieren
            </button>
            <a [routerLink]="['/public']" class="btn btn-default">Abbrechen</a>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>

<app-alert #childAlert></app-alert>