@import "../../_base";
@import "../../_settings";

.main {
  padding-top: 70px;
}

.welcome {
  font-size: 16px;
  list-style: none;
  padding: 5px;

  &__text {
    color: @green;
  }

  &__logout {
    color: @black;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
  }
}

.admin {
  &__nav {
    &--link {
      color: inherit;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@media (max-width: 768px) {
  .main {
    padding-top: 0;
  }
}
