<div class="navbar-wrapper">
  <div class="container">
    <app-nav></app-nav>
  </div>
</div>

<section class="category">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="category__heading">{{ category }}</h1>

        <div class="form-group">
          <input name="searchRecipe" class="form-control" placeholder="Rezept suchen..." [(ngModel)]="searchTerm" id="search-box" />
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let recipe of specificRecipes | async | filter:searchTerm">
            <div class="category-list">
              <div class="category-list__wrapper">
                <a class="category-list__link" [routerLink]="['/recipe-detail/' + recipe.$key]">
                  <img class="category-list__image" src="{{ recipe.image?.url }}" alt="{{ recipe.receipt}}" />
                </a>
              </div>
              <div class="category-list__meta-container">
                <div class="category-list__meta-info">
                  <i class="icon flaticon-preptime"></i>{{recipe.prepTime}} min.
                </div>
                <div class="category-list__meta-info">
                  <i class="icon flaticon-level"></i>{{recipe.level}}
                </div>
                <div class="category-list__meta-info">
                  <span class="icon flaticon-like">{{recipe.rating}}</span>
                </div>
              </div>
              <h5 class="category-list__title">{{recipe.receipt}}</h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="back">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="back">
          <button (click)="goBack()" class="btn">
            <i class="flaticon-left-arrow"></i> Zurück
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>



