/* Base Settings
-------------------------------------------------- */
body {
  font-family: @merri-weather;
  color: @black;
  font-size: @baseFontSize;
  line-height: 1.5;
  padding-top: 0;
}

section {
  padding: 50px 0;
}


h1, h2, h4, h5, h6 {
  color: #5A5A5A;
  font-family: @happy-monkey
}

h3 {
  color: @yellow;
  font-family: @happy-monkey
}

p {
  color: @black;
  font-family: @merri-weather
}