/* Color Settings
-------------------------------------------------- */
@yellow: #ffc000;
@green: #bac64a;
@black: #5a5a5a;
@white: #ffffff;
@light-grey: #F4F2EE;
@grey: #e6e6e6;
@dark-grey: #c8c8c8;
@green-vaild: #42A948;
@red-invalid: #a94442;
@sidebar-grey: #f5f5f5;


/* Spacer Settings
-------------------------------------------------- */
@block-spacer: 25px;
@block-spacer-small: 10px;


/* Font Settings
-------------------------------------------------- */
@merri-weather: "Merriweather Sans", Arial, sans-serif;
@happy-monkey: "Happy Monkey", Arial, sans-serif;
@baseFontSize: 14px;
@desktopBaseFontSize: 16px;

@min-vw:		320px;
@max-vw:		1900px;

.fluid-type(@property, @min-vw, @max-vw, @min-size, @max-size) {

    @{property}: @min-size;

  @media screen and (min-width: @min-vw) {
      @{property}: calc( @min-size ~" + " unit(@max-size - @min-size) ~" * ((100vw - " @min-vw ~") /" unit(@max-vw - @min-vw) ~")" );
  }

  @media screen and (min-width: @max-vw) {
      @{property}: @max-size;
  }
}


/* Mixins
-------------------------------------------------- */
.overflow-gradient() {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  bottom: 0;
  content: "";
  height: 16px;
  position: absolute;
  right: 0;
  text-align: right;
  width: 50%;
}

